
.container{
text-align: center;
border: 1px solid black;
width: 40%;
border-radius: 15px;
padding: 20px;
background-color: aquamarine;
margin-top: 5%;
}
#imgUser{
border-radius: 80%;
width: 200px;
border: 2px solid purple;

}
